/* Main Colors */
$primary-black: rgba(0, 0, 0, 1);
$primary-darkgrey: rgba(50, 54, 61, 1);
$primary-bggrey: rgba(190, 190, 190, 1);
$primary-bggrey-opacity: rgba(190, 190, 190, 0.69);
$primary-white: rgba(255, 255, 255, 1);
$secondary-default: rgba(243, 75, 0, 1);
$secondary-hover: rgba(198, 62, 1, 1);
$secondary-third: rgba(255, 124, 1, 1);

/* Applied colors */
$bg-header: $primary-black;
$bg-portada-opacity: $primary-bggrey-opacity;
$bg-section-cards: $primary-bggrey;
$bg-cards: $primary-white;
$bg-footer: $primary-black;

$bg-button-default: $secondary-default;
$bg-button-hover: $secondary-hover;

$color-header-li: $primary-white;
$color-header-li: $primary-white;
$color-portada-h2: $primary-white;
$color-portada-p: $primary-black;
$color-cards: $primary-black;
$color-button: $primary-white;
$color-footer-icons: $primary-white;

 /* TYPOGRAPHY */
 $size-h1: 68px;
 $size-h1-rem: 4.25rem;
 $size-h2: 42px;
 $size-h2-rem: 2.625rem;
 $size-h3: 26px;
 $size-h3-rem: 1.625rem;
 $size-paragraph: 16px;
 $size-paragraph-rem: 1rem;
 $size-caption: 12px;
 $size-caption-rem: 0.75rem;
 $lineheight-h1: 72px;
 $lineheight-h1-rem: 4.5rem;
 $lineheight-h2: 48px;
 $lineheight-h2-rem: 3rem;
 $lineheight-h3: 48px;
 $lineheight-h3-rem: 3rem;
 $lineheight-paragraph: 24px;
 $lineheight-paragraph-rem: 1.5rem;
 $lineheight-caption: 16px;
 $lineheight-caption-rem: 1rem;
 $fonts-titulos: Montserrat;
 $fonts-parrafos: Roboto,sans-serif;

 /* ICONS */
 $size-default: 50px;
 $size-default-rem: 3.125rem;
 $size-small: 30px;
 $size-small-rem: 1.875rem;

 /* ANGLES */
 $angle1: 5px;
 $angle1-rem: 0.3125rem;

/* Variables para responsivo. Por defecto*/
$breakpoints: (
  "medium": "min-width: 800px",
  "large": "min-width: 1000px",
  "huge": "min-width: 1200px",
);

/*Sizes*/
$container-width: 80%;