/* Main Colors */
$primary-black: rgba(0, 0, 0, 1);
$primary-darkgrey: rgba(50, 54, 61, 1);
$primary-bggrey: rgba(190, 190, 190, 1);
$primary-bggrey-opacity: rgba(190, 190, 190, 0.69);
$primary-white: rgba(255, 255, 255, 1);
$secondary-default: rgba(243, 75, 0, 1);
$secondary-hover: rgba(198, 62, 1, 1);
$secondary-third: rgba(255, 124, 1, 1);

/* Applied colors */
$bg-header: $primary-black;
$bg-portada-opacity: $primary-bggrey-opacity;
$bg-section-cards: $primary-bggrey;
$bg-cards: $primary-white;
$bg-footer: $primary-black;

$bg-button-default: $secondary-default;
$bg-button-hover: $secondary-hover;

$color-header-li: $primary-white;
$color-header-li: $primary-white;
$color-portada-h2: $primary-white;
$color-portada-p: $primary-black;
$color-cards: $primary-black;
$color-button: $primary-white;
$color-footer-icons: $primary-white;

/* Typography */
$size-h1: 68px;
$size-h2: 42px;
$size-h3: 26px;
$size-paragraph: 16px;
$size-caption: 12px;
$lineheight-h1: 72px;
$lineheight-h2: 48px;
$lineheight-h3: 48px;
$lineheight-paragraph: 24px;
$lineheight-caption: 16px;
$fonts-titulos: Montserrat;
$fonts-parrafos: Roboto;

/* Icons */
$size-default: 50px;
$size-small: 30px;

/* Angles */
$angle1: 5px;

/* Variables para responsivo. Por defecto*/
$breakpoints: (
  "medium": "min-width: 800px",
  "large": "min-width: 1000px",
  "huge": "min-width: 1200px",
);

/*Sizes*/
$container-width: 80%;